<style>
#container {
    position: absolute;
    margin: 24px;
    transform: scale(0.6);
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Roboto", sans-serif;
    font-size: 80pt;

    text-align: left;

    user-select: none;
}
</style>
<script>

</script>

<div id="container">
    <span id="text1"></span>
    <span id="text2"></span>
</div>

<svg id="filters">
    <defs>
        <filter id="threshold">
            <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  0 0 0 255 -140" />
        </filter>
    </defs>
</svg>

<mat-list @list role="list">
    <mat-list-item @items (click)="social('linkedin')">
        <img src="./assets/img/linkedin.svg" />
        <div mat-line>LinkedIn</div>
    </mat-list-item>
    <mat-list-item @items (click)="social('instagram')">
        <img src="./assets/img/instagram.svg" />
        <div mat-line>Instagram</div>
    </mat-list-item>
    <mat-list-item @items (click)="social('discord')">
        <img src="./assets/img/discord.svg" />
        <div mat-line>Discord</div>
    </mat-list-item>
    <mat-list-item @items (click)="social('twitter')">
        <img src="./assets/img/twitter.svg" />
        <div mat-line>Twitter</div>
    </mat-list-item>
</mat-list>