<section>
    <div class="header white">
        <div><span>Github</span></div>
        <div><mat-icon>code</mat-icon></div>
    </div>
</section>

<mat-card class="mat-elevation-z8">
    <span class="red">Ooops! Aqui hay poco que ver.</span> No suelo acabar proyectos personales, cuando tengo una idea realizo lo más complejo y pierdo el interes.</mat-card>

<section>
    <div class="header white">
        <div><span>Apps</span></div>
        <div><mat-icon>apps</mat-icon></div>
    </div>
</section>

<mat-card class="mat-elevation-z8">
    <article>
        <a class="green" target="_blank" href="http://ellocodelchat.herokuapp.com/YnlhcnR1cml0b3M=">El loco del chat <mat-icon class="icon-link">link</mat-icon></a>
        <p>
            Es una app que muestra una imagen y guarda todos los datos posibles del usuario.
        </p>
    </article>
    <article>
        <a class="green" target="_blank" href="https://gogroup.es/">GoGroup <mat-icon class="icon-link">link</mat-icon></a>
        <p>
            Página web para la agencia de GoGroup
        </p>
    </article>
</mat-card>

<section>
    <div class="header red">
        <div><span>Donaciones</span></div>
        <div><mat-icon>favorite_border</mat-icon></div>
    </div>
</section>

<mat-divider></mat-divider>

<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            <span class="green">TreeDom</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span style="color: #c5e1a5">!Hagamos </span>
            <span style="color: #e6ee9c">algo </span>
            <span style="color: #aed581">por </span>
            <span style="color: #dce775">el </span>
            <span style="color: #9ccc65">medio </span>
            <span style="color: #d4e157">ambiente!</span>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/treedom.jpeg" alt="Photo profile of treedom">
    <mat-card-content>
        <p>
            Todos los meses colaboro donando un arbol. ¡Me parece un proyecto increible!
            Aqui os dejo 
            <a class="green" target="_blank" href="https://www.treedom.net/es/user/arturo-legaspi-rodrigo">mi perfil <mat-icon class="icon-link">link</mat-icon></a>
            o al de
            <a class="green" target="_blank" href="https://www.treedom.net/es/user/familia-lp/trees">la familia <mat-icon class="icon-link">link</mat-icon></a>, 
            por si quereis visitarlo
        </p>
    </mat-card-content>
</mat-card>
