mat-sidenav-container {
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

mat-sidenav {
    width: 246px
}

main {
    margin: 27px;
}

.all-wrap {
    min-height: 100vh;
  }
  
  .page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  
  /*
   * Make the Component injected by Router Outlet full height:
   */
  main {
    display: flex;
    flex-direction: column;
    > *:not(router-outlet) {
      flex: 1;
      display: block;
    }
  }

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color:
        white;
    z-index: 10000;
    border: 2px solid white;
    height: 40px;
    width: 40px;
    transition: all 300ms ease-out;
}

.menu-slide {
  width: 34px;
  background-color: transparent;
  height: 100vh;
  position: absolute;
}