<div id="cursor"></div>

<mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="menuOpened" [mode]="menuMode">
        <arturo-menu (onNavigate)="navigate()"></arturo-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <arturo-header [menuOpened]="menuOpened" [menuMode]="menuMode" (onClickMenuIcon)="toggleMenu()"></arturo-header>
        <main>
            <router-outlet #outlet="outlet"></router-outlet>
        </main>
        <arturo-footer></arturo-footer>
    </mat-sidenav-content>
</mat-sidenav-container>