<mat-divider></mat-divider>
<div class="footer-cnt">
    <footer>
        <div>
            <mat-chip-list>
                <mat-chip *ngIf="numberVisitors > 0" color="primary">{{ numberVisitors }} awesome persons has visited me!</mat-chip>
                <mat-chip>
                    <span style="margin-right: 17px;">Made with</span>
                    <img class="blob red" alt="Heart icon" src="./assets/img/love.svg" />
                </mat-chip>
            </mat-chip-list>
        </div>
        <span class="space"></span>
        <div>
            <mat-chip-list>
                
            </mat-chip-list>
        </div>
    </footer>
</div>
<mat-divider></mat-divider>