.footer-cnt {
    min-height: 27px;
    line-height: 27px;
    vertical-align: middle;
    padding: 12px;
    background-color: #2196f3;
    color: black;
    bottom: 0;
    opacity: 1;
    border-top: 1px solid #0d47a1;
    border-bottom: 1px solid #0d47a1;
    
    footer {
        display: flex;
        justify-content: space-around;
        
    }

    .space {
        flex: 1 1 auto;
    }
}

.blob {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
  }

  .blob.red {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }