<section>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title style="width: 184px;">
        <div class="typewriter">¡Hola! Soy Arturo <span class="icon-hello">👋</span></div>
      </mat-card-title>
      <mat-card-subtitle>
        <span>
          <span style="color: #f06292">Computer </span>
          <span style="color: #ce93d8">enthusiast </span>
          <span style="color: #9fa8da">specializing </span>
          <span style="color: #81d4fa">in </span>
          <span style="color: #80cbc4">front-end</span>
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Mi camino en la informática empezo hace muchos años, 
        cuando tenia unos 14 años y me dieron mi primer ordenador.
        A partir de ahí, me dedique mucho a jugar y empecé con el diseño gráfico,
        mi <a class="deviant-art" target="_blank" href="https://www.deviantart.com/steliv">DeviantArt <mat-icon class="icon-link">link</mat-icon></a> es lo unico que tengo guardado.
        ¡Te animo a que te pases y le des un vistazo a lo que hacía de enano!
      </p>
      <p>
        Tuve mucho absentismo escolar, lo que me permitió empezar a trastear mas a fondo con los ordenadores.
        Dedicaba mucho tiempo a aprender <span class="red">hacking ético</span>, lo que todavia sigo haciendo hoy en día.
        (La de veces que habre roto el ordenador, dejado sin internet a toda la casa y bueno muchas cosas mas)
        Lo primero de programación que aprendí fue <span class="blue">SHELLSCRIPT</span>.
        Mi primer programa decía "Te Amo" te daba unos segundos y apagaba el pc ¡a mi ex le encantó!
      </p>
      <p>
        A partir de ahí empecé a descubrir las webs, que me llamaron mucho la atencion, ya que tenian diseño y aprendí <span class="orange">HTML</span>,&nbsp;<span class="yellow">JavaScript</span> y <span class="blue">CSS</span>,
        trasteé un poco y hice algunas web con fotos de grafitis, probaba APIs del navegador,
        tales como reproducir musica y empecé a ver un poco mas a fondo la programación. 
      </p>
      <p>Gracias a esta curiosidad senté unas buenas bases.</p>
      <p>
        Al finalizar los estudios secudarios obligatorios, me metí al módulo de <span class="purple">microsistemas informáticos y redes</span>,
       en el cual me lo pasé como un crío; pasé de suspender todo, a sacar notazas ¡Menuda subida de autoestima!
        Aprendí un montón de las bases informáticas de ordenadores y redes. 
        Esto me ayudo mucho a seguir con el camino de la <span class="red">seguridad ofensiva</span>.
      </p>
      <p>
        Continuando con mis estudios, me apunté al módulo de <span class="purple">desarrollo de aplicaciones multiplataforma</span>,
        en la forma de FP DUAL (un año de clases y otro de prácticas), lo cual me hizo apasionarme más por este mundo
        y pude asentar mis conocimientos en tecnologías back, sobretodo en <span class="yellow">Java</span> y aprendí más sobre el ciclo vida de las aplicaciones,
        lo cual me hizo darme cuenta de todo los que me faltaba por aprender. ¡Fascinante!
      </p>
      <p>
        ¡Si quieres seguir mi trayectoria laboral te animo a verla en <a class="blue" target="_blank" href="https://es.linkedin.com/in/arturo-legaspi-rodrigo-393802bb">LinkedIn <mat-icon class="icon-link">link</mat-icon></a>!
      </p>
    </mat-card-content>
  </mat-card>
</section>